.main {
  height: 482px;
  background-image: url("../../assets/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: top 0 right -20%;
}

.cta {
  margin: 0 auto 150px;
  max-width: 1050px;
  padding: 80px 20px 0;
}

.ctaBox {
  max-width: 550px;
}

.cta h1 {
  font-size: 75px;
  letter-spacing: -3px;
  line-height: 1.2;
}

.cta p {
  color: #9e9aa7;
  font-size: 20px;
  margin-bottom: 50px;
}

.cta a {
  text-decoration: none;
  background-color: #2acfcf;
  border: none;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 40px;
  transition: all 0.2s;
}

.cta a:hover {
  background-color: #7be4e4;
}

.urlShortening {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 20px;
  position: relative;
  z-index: 100;
}

.urlShortening div {
  background-color: #3b3054;
  background-image: url(../../assets/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 50px 60px;
}

.urlShortening div input {
  background-color: #fff;
  color: #232127;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  outline: none;
  padding: 15px 40px;
}

.urlShortening div input:focus {
  outline: 2px solid #2acfcf;
}

.urlShortening div button {
  background-color: #2acfcf;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  outline: none;
  padding: 15px 40px;
  transition: all 0.2s;
}

.urlShortening div button:hover {
  background-color: #7be4e4;
}

.urlShortening p {
  color: #f46262;
  font-size: 15px;
  font-style: italic;
  left: 9%;
  position: absolute;
  top: 75%;
}

.servicies {
  background-color: #f0f1f6;
  margin: -75px auto 0;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.urlDisplay {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  max-width: 1050px;
  padding: 100px 20px 0;
}

.urlDisplay ul {
  list-style: none;
}

.urlList {
  max-width: 1050px;
  padding: 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortUrlBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shortUrl {
  color: #2acfcf;
}

.urlList button {
  background-color: #2acfcf;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 7px 20px;
  margin-right: 0;
  align-items: center;
  transition: all 0.2s;
}

.urlList button:hover {
  background-color: #7be4e4;
}

.serviceTitle {
  margin: 0 auto;
  max-width: 540px;
  padding-top: 140px;
}

.serviceTitle h2 {
  font-size: 38px;
  margin-bottom: 15px;
  text-align: center;
}

.serviceTitle p {
  color: #9e9aa7;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 100px;
  text-align: center;
}

.serviceBoxes {
  align-items: start;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 20px;
  position: relative;
}

.serviceBoxes::after {
  background-color: #2acfcf;
  content: "";
  height: 8px;
  left: 5%;
  position: absolute;
  top: 40%;
  width: 90%;
  z-index: 1;
}

.boxOne {
  background-color: #fff;
  border-radius: 5px;
  max-width: 330px;
  padding: 30px;
  z-index: 10;
}

.boxOne div {
  align-items: center;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: -70px 0 20px;
  width: 80px;
}

.oneTitle {
  color: #232127;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.oneText {
  color: #9e9aa7;
  font-size: 14px;
  line-height: 1.7;
}

.boxTwo {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 330px;
  padding: 30px;
  z-index: 10;
}
.boxTwo div {
  align-items: center;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: -70px 0 20px;
  width: 80px;
}

.boxThree {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 330px;
  padding: 30px;
  z-index: 10;
}

.boxThree div {
  align-items: center;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: -70px 0 20px;
  width: 80px;
}

.ctaEnd {
  background-color: #3b3054;
  background-image: url(../../assets/bg-boost-desktop.svg);
  background-size: cover;
  padding: 50px 0;
  text-align: center;
}

.ctaEnd h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 38px;
  text-align: center;
}

.ctaEnd a {
  background-color: #2acfcf;
  border: none;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

.ctaEnd a:hover {
  background-color: #7be4e4;
}
