.main {
  background-image: url("../../assets/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: top 0 right -20%;
}

@media (max-width: 432px) {
  .main {
    background-position: top 0 right 120%;
    background-size: 120%;
  }
}
