.header {
  align-items: center;
  color: #9e9aa7;
  display: flex;
  font-weight: 700;
  gap: 40px;
  margin: 0 auto 70px;
  max-width: 1050px;
  padding: 50px 20px 0;
}

.nav {
  display: flex;
  flex-grow: 1;
}

.nav ul {
  display: flex;
  flex-grow: 1;
}

.navBar {
  align-items: center;
  gap: 30px;
}

ul li a {
  text-decoration: none;
  color: #9e9aa7;
  cursor: pointer;
  transition: all 0.2s;
}

ul li a:hover {
  color: #232127;
}

.login {
  margin-left: auto;
}

.signup a {
  background-color: #2acfcf;
  border-radius: 50px;
  color: #fff;
  padding: 8px 20px;
  transition: all 0.2s;
}

.signup a:hover {
  background-color: #7be4e4;
  color: #fff;
}

.iconMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 425px) {
  .header {
    justify-content: space-between;
    position: relative;
  }

  .header img {
    align-self: start;
  }

  .nav {
    background-color: #3b3054;
    border-radius: 10px;
    display: none;
    left: 5%;
    right: 5%;
    padding: 30px;
    position: absolute;
    top: 115%;
    width: 75%;
  }

  .visible {
    display: block;
  }

  .navBar {
    flex-direction: column;
    letter-spacing: 1px;
  }

  .navBar li a {
    color: #fff;
  }

  .login {
    text-align: center;
    width: 100%;
    border-top: 1px solid hsla(0, 0%, 50%, 0.5);
    margin: 0;
    padding-top: 30px;
  }

  .signup {
    text-align: center;
    width: 100%;
  }
  .signup a {
    width: 100%;
  }

  .iconMenu {
    display: block;
  }
}
