.servicies {
  background-color: #f0f1f6;
  margin: -75px auto 0;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.urlDisplay {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  max-width: 1050px;
  padding: 100px 20px 0;
}

.urlDisplay ul {
  list-style: none;
}

.urlList {
  max-width: 1050px;
  padding: 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shortUrlBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shortUrl {
  color: #2acfcf;
}

.copyButton {
  background-color: #2acfcf;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 7px 20px;
  margin-right: 0;
  align-items: center;
  transition: all 0.2s;
}

.copyButton:hover {
  background-color: #7be4e4;
}

.copiedButton {
  background-color: #3a3054;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 7px 20px;
  margin-right: 0;
  align-items: center;
  transition: all 0.2s;
}

.copiedButton:hover {
  background-color: #3a3054;
}

.serviceTitle {
  margin: 0 auto;
  max-width: 540px;
  padding-top: 140px;
}

.serviceTitle h2 {
  font-size: 38px;
  margin-bottom: 15px;
  text-align: center;
}

.serviceTitle p {
  color: #9e9aa7;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 100px;
  text-align: center;
}

.serviceBoxes {
  align-items: start;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 20px;
  position: relative;
}

.serviceBoxes::after {
  background-color: #2acfcf;
  content: "";
  height: 8px;
  left: 5%;
  position: absolute;
  top: 40%;
  width: 90%;
  z-index: 1;
}

.boxOne {
  background-color: #fff;
  border-radius: 5px;
  max-width: 330px;
  padding: 30px;
  z-index: 10;
}

.boxOne div {
  align-items: center;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: -70px 0 20px;
  width: 80px;
}

.oneTitle {
  color: #232127;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.oneText {
  color: #9e9aa7;
  font-size: 14px;
  line-height: 1.7;
}

.boxTwo {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 330px;
  padding: 30px;
  z-index: 10;
}
.boxTwo div {
  align-items: center;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: -70px 0 20px;
  width: 80px;
}

.boxThree {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 330px;
  padding: 30px;
  z-index: 10;
}

.boxThree div {
  align-items: center;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: -70px 0 20px;
  width: 80px;
}

@media (max-width: 432px) {
  .servicies {
    margin-top: -110px;
  }

  .urlDisplay {
    gap: 20px;
    padding-top: 140px;
  }

  .urlList {
    max-width: 420px;
    flex-direction: column;
    gap: 20px;
  }

  .currentUrl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  .serviceTitle {
    max-width: 400px;
  }

  .serviceTitle h2 {
    font-size: 32px;
  }

  .serviceTitle p {
    font-size: 19px;
  }

  .serviceBoxes {
    align-items: center;
    flex-direction: column;
    gap: 120px;
  }

  .boxOne {
    max-width: 420px;
    padding: 35px;
  }

  .boxOne div {
    height: 100px;
    margin: -85px auto 20px;
    width: 100px;
  }

  .oneTitle {
    font-size: 22px;
    text-align: center;
  }

  .oneText {
    font-size: 19px;
  }

  .boxTwo div {
    height: 100px;
    margin: -85px auto 20px;
    width: 100px;
  }

  .boxThree div {
    height: 100px;
    margin: -85px auto 20px;
    width: 100px;
  }
}
