.urlShortening {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 20px;
  position: relative;
  z-index: 100;
}

.urlShortening div {
  background-color: #3b3054;
  background-image: url(../../assets/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 50px 60px;
}

.urlShortening div input {
  background-color: #fff;
  color: #232127;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  outline: none;
  padding: 15px 40px;
}

.urlShortening div input:focus {
  outline: 2px solid #2acfcf;
}

.urlShortening div button {
  background-color: #2acfcf;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  outline: none;
  padding: 15px 40px;
  transition: all 0.2s;
}

.urlShortening div button:hover {
  background-color: #7be4e4;
}

.errorMes {
  color: #f46262;
  font-size: 15px;
  font-style: italic;
  left: 9%;
  position: absolute;
  top: 75%;
}

.loader {
  color: #2acfcf;
  font-size: 15px;
  font-style: italic;
  left: 9%;
  position: absolute;
  top: 75%;
}

@media (max-width: 432px) {
  .urlShortening {
    margin: 0 auto;
    max-width: 1050px;
    padding: 0 20px;
    position: relative;
    z-index: 100;
  }

  .urlShortening div {
    flex-direction: column;
    gap: 40px;
    padding: 30px;
  }

  .urlShortening div input {
    padding: 15px 30px;
  }

  .errorMes {
    left: 13%;
    top: 46%;
  }

  .loader {
    left: 13%;
    top: 87%;
  }
}
